/*
* @Author: l
* @Date:   2017-08-29 14:09:32
* @Last Modified by:   l
* @Last Modified time: 2017-10-12 23:56:29
*/
@font-face {
  font-family: 'iconfont';  /* project id 401018 */
  src: url('https://at.alicdn.com/t/font_401018_a8n03vabwe0l766r.eot');
  src: url('https://at.alicdn.com/t/font_401018_a8n03vabwe0l766r.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_401018_a8n03vabwe0l766r.woff') format('woff'),
  url('https://at.alicdn.com/t/font_401018_a8n03vabwe0l766r.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_401018_a8n03vabwe0l766r.svg#iconfont') format('svg');
}

.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
#head{
	width: 100%;
	height: 40px;
	background-color: #333;
}
.head-neikuan{
	width: 1226px;
	height: 40px;
	margin: 0 auto;
}
.head-left{
	height: 40px;
	float: left;
}
.head-wenzi{
	float: left;
	line-height: 40px;
	font-size: 12px;
	color: #b0b0b0;
	margin-right: 7px;
}
.head-wenzi1{
	margin-right: 0;
}
.head-right{
	height: 40px;
	float: right;
}
.gouwuche{
	width: 103px;
	height: 40px;
	background-color: #424242;
	float: left;
	margin-left: 10px;
	padding-left: 17px;
	font-size: 12px;
	color: #b0b0b0;
}
.banner{
	width: 1226px;
	height: 460px;
	border: 1px solid red;
	margin: 0 auto;
	position: relative;
}
.bannerbox{
	width: 100%;
	height: 100%;
	
}
.bannerbox li{
	width: 100%;
	height: 100%;
	display: none;
	position: absolute;
	left: 0;
	top: 0;
}
.bannerbox li a{
	display: block;
}
.bannerbox .active{
	display: block;
	
}
.mom{
	width: 30px;
	height: 60px;
	color: #ccc;
	font-size: 14px;
	line-height: 60px;
	text-align: center;
	position: absolute;
	top: 200px;
	user-select: none;
	cursor: pointer;
}
#left{
	left: 234px;
}
#right{
	right: 0;
}
.mom:hover{
	background-color: #ccc;
	color: #fff;
}
.banner-list{
	width: 234px;
	height: 460px;
	background-color: rgba(0, 0, 0, 0.6);
	position: absolute;
	left: 0;
	top: 0;

}
.banner-list1{
	width: 204px;
	height: 42px;
	/* background-color: red; */
	padding-left: 30px;
	margin-top: 20px;
}
.banner-list1:hover{
	background-color: orange;
}
.banner-list2{
	margin-top: 0;
}
.banner-list3{
	margin-bottom: 20px;
}
.banner-list1 a{
	font-size: 13px;
	line-height: 42px;
	float: left;
	color: white;
}

.banner-list1 i{
	font-size: 16px;
	color: white;
	line-height: 42px;
	float: right;
	margin-right: 20px;
}
.dianbox{
	width: 100px;
	height: 15px;
	position: absolute;
	right: 20px;
	bottom: 20px;
	display: flex;
	justify-content: space-around;
	/* background-color: red; */
}
.dianbox li{
	width: 13px;
	height: 13px;
	border: 1px solid #b0b0b0;
	background-color: #333;
	border-radius: 50%;
	list-style: none;
}
.dianbox li:hover{
	background-color: white;
}
.dianbox .active{
	background-color: white;
}
.jiadian-anniu1{
	width: 228px;
	height: 164px;
	margin: 0 auto;
	margin-top: 3.5px;
}
.anniu-box{
	width: 70px;
	height: 82px;
	padding-left: 3px;
	padding-right: 3px;
	background-color: #f3f3f3;
	float: left;
}
.anniu-box1{
	width: 70px;
	height: 45.6px;
	background-color: 
	#f3f3f3;
	padding-top: 18px;

}
.anniu-box1 h1{
	font-size: 12px;
	margin-bottom: 1px;
	text-align: center;
	
	
}
.anniu-box a{
	font-size:28px;
	margin-left: 24px;
	font-weight: bolder;
}
#daohang{
	width: 100%;
	height: 100px;

}
.daohang-neikuan{
	width: 1226px;
	height: 100px;
	margin: 0 auto;
}
.box{
	width: 55px;
	height: 54px;
	background-color: orchid;
	float: left;
	margin-top: 22.5px;
	background-image: url('../img/images/xiaomilogo.png');
	background-size: 100%;

}
.box1{
	height: 100px;
	margin-left: 189px;
	float: left;
	
}
.box1-wenzi{
	float: left;
	line-height: 100px;
	margin-right: 20px;
}
.box1-wenzi a:hover{
	color: orange;
}
.box1-wenzi2{
	margin-right: 0;
}
.sousuo{
	width: 296px;
	height: 50px;
	background-color: red;
	float: right;
	margin-top: 25px;
	/* border: 1px black solid; */
	position: relative;
	
}
.sousuo input{
	width: 242px;
	height: 46px;
	
}
.sousuo-wenzi{
	
	height: 18px;
	background-color: pink;
	position: absolute;
	left: 83px;
	top: 15px;
	
}
.sousuo-wenzi:hover{
	background-color: orange;
}
.sousuo-wenzi a{
	font-size: 12px;
	line-height: 18px;

}
.sousuo-wenzi a:hover{
	color: white;
}
.box2{
	width: 48px;
	height: 48px;
	background-color: white;
	border: 1px #e0e0e0 solid;
	float: right;
}
.box2:hover{
	background-color: orange;
}
.box2 a{
	font-size: 18px;
	line-height: 50px;
	margin-left: 16px;
	color: black;
}
.box2 a:hover{
	color: white;
}
.head-wenzi a{
	color: #b0b0b0;
}
/* .head-wenzi a{
	color: #333;
}
.head-wenzi a:link{
	color: gold;
}
.head-wenzi a:visited{
	color: hsl(300, 100%, 90%)
}
.head-wenzi a:hover{
	color: orangered;
}
.head-wenzi a:active{
	color: yellowgreen;
} */
#jiadian{
	width: 1226px;
	height: 170px;
	background-color: green;
	margin: 0 auto;
	margin-top:14px;
}
.jiadian-anniu{
	width: 234px;
	height: 170px;
	background-color: rgba(0, 0, 0, 0.6);
	float: left;
	margin-right: 14px;
}
.jiadian-zhonglei{
	width: 316px;
	height: 170px;
	background-color: pink;
	float: left;
	margin-right: 15px;
}
.jiadian-zhonglei1{
	margin-right: 0;
}
#danpin{
	width: 1226px;
	height: 438px;
	/* background-color: yellowgreen; */
	margin: 0 auto;
	margin-top: 26px;
	overflow: hidden;
}

.danpin-top{
	width: 1226px;
	height: 58px;
	/* background-color: pink; */
}
.danpin-top h1{
	font-size: 22px;
	color: #333;
	line-height: 58px;
	float: left;
}
.gouwuche i{
	line-height: 40px;
}
.danpin-anniu{
	width: 70px;
	height: 25px;
	border: 1px solid #ccc;
	/* background-color: #2df; */
	float: right;
	margin-top: 23px;
	font-size: 18px;
	text-align: center;
	line-height: 25px;
	cursor: pointer;
	user-select: none;
}
.danpin-anniu div{
	float: left;
	width: 34px;
	border-right: 1px solid #ccc;
}
.danpin-anniu div:last-child{
	border-right: 0;
}
.danpin-anniu div:hover{
	color: red;
}
.danpin-top .danpin-anniu .active{
	color: #ccc;
}
.danpin-bottom{
	width: 2466px;
	height: 380px;
	transition: margin-left 1s;
	/* background-color: goldenrod; */
}
.danpin-list{
	width: 234px;
	height: 300px;
	background-color: #ccc;
	border-top: 1px red solid;
	padding-top: 39px;
	float: left;
	margin-right: 14px;
}
.danpin-img{
	width: 160px;
	height: 166px;
	/* background-color: #9cf; */
	margin: 0 auto;
}
.danpin-list:last-child{
	margin-right: 0;
}
.danpin-list h3{
	font-size: 14px;
	color: #212121;
	text-align: center;
	line-height: 14px;
	margin-top: 22px;
}
.danpin-list h4{
	font-size: 12px;
	color: #b0b0b0;
	text-align: center;
	line-height: 12px;
	margin-top: 10px;
	
}
.danpin-list h5{
	font-size: 12px;
	color: red;
	text-align: center;
	line-height: 12px;
	margin-top: 10px;
	
}
.tonping{
	background-color: #f5f5f5;
}
#dianqi{
	width: 1226px;
	height: 732px;
	/* background-color: #f5f5f5; */
	margin: 0 auto;
	overflow: hidden;
}
.dianqi-top{
	width: 1226px;
	height: 118px;
	position: relative;
	/* background-color: pink; */
}
.dianqi-top h1{
	font-size: 22px;
	color: #333;
	float: left;
	padding-top: 78px;
}
.dianqi-daohang{
	
	height: 16px;
	/* background-color: blue; */
	margin-top:80px;
	float: right;
	cursor: pointer;

}
.daohang-wenzi{
	float: left;
	margin-right: 32px;
	line-height: 16px;
	color: black;
}
.dianqi-daohang .active{
	color: orange;
	border-bottom: 2px solid orange;
}

.daohang-wenzi1{
	margin-right: 0;
}


.dianqi-bottom{
	width: 1226px;
	height: 614px;
	/* background-color: gold; */
	overflow: hidden;

}
.dianqi-binxiang{
	width: 234px;
	height: 614px;
	/* background-color: red; */
	float: left;
	margin-right: 14px;
}
.dianqi-list{
	width: 234px;
	height: 300px; 
	float: left;
	margin-right: 14px;
	background-color: white;
	position: relative;
	overflow: hidden;
}
.boxbox{
	width: 234px;
	height: 300px;
	/* background: pink; */
	margin-bottom: 14px;
}
.boxbox:last-child{
	margin-bottom: 0;
}
.dianqi-box{
	width: 234px;
	height: 100px;
	background-color: rgba(0, 0, 0, 0);
	position: absolute;
	left: 0;
	bottom: -100px;
	transition: all 1s ease;
}
.dianqi-list:hover .dianqi-box{
	bottom: 0;
	background-color: rgba(227, 165, 17, 1.0)
}
.dianqi-list:hover{
	transform: translateY(-10px);
	transition: all 1s ease;
}
.dianqi-list1{
	margin-right:0;
}
.dianqi-list2{
	margin-top: 14px;
}
.dianqi-img{
	width: 150px;
	height: 150px;
	/* background-color: pink; */
	margin: 0 auto;
	margin-top: 34px;
}
.dianqi-list h3{
	font-size:  14px;
	color: #212121;
	text-align: center;
	line-height: 14px;
	margin-top: 17px;
}
.dianqi-list h4{
	font-size: 12px;
	color: #b0b0b0;
	text-align: center;
	line-height: 12px;
	margin-top: 7px;
	
}
.dianqi-list h5{
	font-size: 12px;
	color: red;
	text-align: center;
	line-height: 12px;
	margin-top: 18px;
	
}
.dianqi-list3{
	width: 234px;
	height: 143px;
	margin-bottom: 14px;
	/* background-color: blue; */
}
.dianqi-list4{
	margin-bottom:0;
}
.dianqi-img1{
	width: 80px;
	height: 80px;
	/* background-color: pink; */
	float: right;
	margin-top: 31.5px;
	margin-right: 22px;
}
.dianqi-list3 h3{
	font-size: 12px;
	color: black;
	line-height: 12px;
	margin-left: 30px;
	margin-top: 44px;
	float: left;
}
.dianqi-list3 h4{
	font-size: 11px;
	color: red;
	line-height: 11px;
	margin-left: 30px;
	margin-top: 15px;
	float: left;
}
h6{
	font-size: 18px;
	color: black;
	line-height: 18px;
	margin-left: 30px;
	margin-top: 54px;
	float: left;
}
h7{
	font-size: 11px;
	color: black;
	line-height: 11px;
	margin-left: 30px;
	margin-top: 8px;
	float: left;
}
.dianqi-img2{
	width: 48px;
	height: 56px;
	/* background-color: pink; */
	float: right;
	margin-top: 43.5px;
	margin-right: 35px;
	line-height: 56px;
	text-align: center;
}
.dianqi-img2 i{
	font-size: 48px;
	color: orange;
}
.zhineng-box{
	float: left;
}
.zhineng-box1{
	margin-top: 14px;
}

.dianqi-right{
	width: 978px;
	height: 614px;
	/* background-color: black; */
	float: right;
}
#shipin{
	width: 1226px;
	height: 343px;
	background: black;
	margin: 0 auto;
}
.shipin-zi{
	width: 1226px;
	height: 58px;
	background: white;
}
.shipin-left-zi{
	height: 58px;
	background: white;
	width: 500px;
	float: left;
}
.shipin-left-zi h1{
	font-size: 22px;
	line-height: 58px;

}
.shipin-right-zi{
	height: 58px;
	float: right;
}
.shipin-right-zi h1{
	font-size: 20px;
	line-height: 58px;
}
.fang{
	width: 20px;
	height: 20px;
	background: #b0b0b0;
	float: right;
	margin-top: 19px;
	border-radius: 10px;
	margin-left: 8px;
}
.quan i{
	line-height: 20px;
	font-size: 24px;
}
.neirong-tupianqv{
	width: 1226px;
	height: 285px;
	background: white;
	float: left;
}
.neirong-pictuer{
	width: 296px;
	height: 180px;
	background: red;
	position: relative;
}
.neirong-pictuer a{
	font-size: 35px;
	position: absolute;
	left: 20px;
    bottom: 10px;
    color: white;

}
.shipingtuxiawenzi{
	width: 296px;
	height: 21px;
	background: white;
	margin-top: 40px;
	margin-bottom: 6px;
}
.xiao40{
	margin-top: 0;
}
.shipingtuxiawenzi h1{
	font-size: 14px;
    font-weight: 400;
    text-align: center;
}
.xiao40 h2{
	font-size: 12px;
	text-align: center;
}
.yigetupian{
	margin-right: 14px;
	width: 296px;
	height: 285px;
	float: left;
}
.chuyou{
	margin-right: 0;
}
.weibu{
	width: 100%;
	height: 272px;
	background-color: blue;
	
}
.weibu-neikuan{
	width: 1226px;
	height: 272px;
	background-color: pink;
	margin: 0 auto;
}
.baoxiu-list{
	width: 1226px;
	height: 79px;
	background-color: red;
	border-bottom: 1px black solid;
}
.baoxiu-list1{
	width: 1226px;
	height: 26px;
	background-color: black;
	margin-top: 27px;
	float: left;
}
.baoxiu-xiangmu{
	width: 243px;
	height: 25px;
	background-color: yellow;
	float: left;
	
}
.baoxiu-xiangmu1{
	border-left: 1px black solid;
}
.xiangmu-box{
	width: 24px;
	height: 24px;
	background-color: blue;
	float: left;
	margin-left: 58px;
	line-height: 24px;

}
.xiangmu-box a{
	font-size: 24px;
	color: black;
	
}
.xiangmu-box h4{
	float: left;
	line-height: 25px;
}
.candan{
	width: 960px;
	height: 112px;
	background-color: green;
	margin-top: 41px;
	float: left;
}
.candna-box{
	width: 160px;
	height: 112px;
	background-color: yellow;
	float: left;
}
.candna-box2{
	margin-bottom: 26px;
	font-size: 13px;
}
.candna-box3{
	margin-top: 10px;
	font-size: 12px;
}
.rexian-box{
	width: 250px;
	height: 112px;
	background-color: red;
	float: right;
	margin-top: 40px;
	border-left: 1px black solid;
}
.rexian-box1{
	width: 250px;
	height: 21.6px;
	background-color: green;
	margin-bottom: 5px;
	float: right;
}
.haoma{
	height: 100%;
	line-height: 21.6px;
	text-align: center;
}
#rpcp{
	width: 1226px;
	height: 495px;
	background-color: pink;
	margin: 0 auto;
}
.rpcp-box{
	width: 1226px;
	height: 80px;
	background-color: blue;
}
.rpcp-box h1{
	font-size: 22px;
	margin-top: 40px;
	float: left;
}
.rpcp-list{
	width: 296px;
	height: 415px;
	background-color: gold;
	float: left;
	margin-right: 14px;
}
.rpcp-list1{
	margin-right: 0px;
}
.rpcp-pt{
	width: 296px;
	height: 220px;
	background-color: green;
}
.rpcp-list h3{
	font-size: 14px;
	margin-top: 34px;
	margin-left: 28px;
	margin-right: 30px;
	float: left;
}
.rpcp-list h4{
	font-size: 12px;
	margin-top: 31px;
	margin-left: 28px;
	float: left;
}
.rpcp-list h5{
	font-size: 12px;
	margin-top: 16px;
	margin-left: 28px;
	float: left;
}
.qita-dianhua{
	width: 252px;
	height: 112px;
	background-color: pink;
	float: right;
	margin-top: 40px;
	text-align: center;
	border-left: 1px solid #e0e0e0;
}
.qita-dianhua1{
	font-size: 22px;
	color: #ff6700;
	line-height: 1;
}
.qita-shijian{
	font-size: 12px;
	margin-top: 5px;
}
.qita-kefu{
	border: 1px #f25807 solid;
	font-size: 12px;
	width: 118px;
	height: 28px;
	line-height: 28px;
	margin: 0 auto;
}
.neirong{
	width: 1226px;
	height: 478px;
	/* border: 1px solid red; */
	margin: 0 auto;
	margin-bottom: 22px;
}
.neirong-top{
	width: 100%;
	height: 78px;
    font-size: 22px;
    line-height: 78px;
    color: #333;
}
.neirong-list{
	width: 296px;
	height: 400px;
	background: pink;
	margin-right: 14px;
	overflow: hidden;
	position: relative;
	
	float: left;
}
.neirong-list:last-child{
	margin-right: 0;
}
.list-ty{
	width: 2000px;
	height: 100%;
	/* background: #ccc; */
	transition: all 1s;
	
}
.list-ty li{
	width: 296px;
	height: 100%;
	background: yellow;
	list-style: none;
	float: left;
	text-align: center;
	position: relative;
}
.list-ty li h1{
	width: 276px;
	height: 24px;
	margin: 30px 10px 18px 10px;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
}
.list-ty li h2{
	width: 256px;
	height: 24px;
	margin: 0 20px 5px;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
}
.imgbox{
	width: 216px;
	height: 154px;
	/* background: pink; */
	margin: 0 auto;
	margin-top: 80px;
}
.dian-box{
	width: 296px;
	height: 10px;
	/* background: red; */
	position: absolute;
	bottom: 30px;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
.lunbo{
	width: 7px;
	height: 7px;
	border-radius: 50%;
	margin: 0 20px;
	background: black;
	cursor: pointer;
}
.lunbo:hover{
	background: orangered;
}
.dian-box .active{
	width: 8px;
	height: 8px;
	background: white;
	border: 1px solid orange;
}
.kuohao-left,.kuohao-right{
	width: 30px;
	height: 60px;
	background:#ccc;
	font-size: 16px;
	color: #fff;
	line-height: 60px;
	text-align: center;
	position: absolute;
	top: 170px;
	opacity: 0;
	cursor: pointer;
	user-select: none;
	transition: all 0.5s;
}
.kuohao-left{
	left: 0;
}
.kuohao-right{
	right: 0;
}
.neirong-list:hover>.kuohao-left{
	opacity: 1;
}
.neirong-list:hover>.kuohao-right{
	opacity: 1;
}
